<nav>
  <div class="site-title">
    <a href="/alltwits"><h1>TWITEE</h1></a>
    <p>A Mini Twitter Site</p>
  </div>
  <ul>
    <li><a href="/alltwits">All Twits</a></li>
    <li><a href="/mytwits">My Twits</a></li>
    <li><a href="/mytwits/create">New Twit</a></li>
  </ul>
</nav>