<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <div class="site-title">
    <a href="/alltwits"><h1>TWITEE</h1></a>
    <p>A Mini Twitter Site</p>
  </div>

  <div class="submit">
    <form action="/signup" method="POST">

      <div class="submit">
        <h3>SIGNUP HERE</h3>
      </div>

      <label>Name:</label>
      <input type="text" id='name' required>

      <label>username:</label>
      <input type="text" id= 'username' value="@" required>

      <label>Email:</label>
      <input type="email" id='email' required>
  
      <label>Password:</label>
      <input type="password" id='password' required>

      <label>Phone Number:</label>
      <input type="number" id='phone' required>

      <div class="submit">
        <button>Signup</button>
      </div>

    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
